turmhof.local, schumacherfm.local {

    tls off

    mailout /mySendMail {
        Xmaillog          testdata/
        errorlog         testdata/

        to              "recipient_to@domain.email"
        cc              "recipient_cc1@domain.email, recipient_cc2@domain.email"
        bcc             "recipient_bcc1@domain.email, recipient_bcc2@domain.email"
        subject         "Text Email from {{.Form.Get \"name\" }}"
        body            "testdata/mail_tpl.html"

        # username
        # password
        host            127.0.0.1
        port            1025

        ratelimit_capacity 3
        ratelimit_interval 6s
    }

}

iair.dev, zerobin.dev {

    tls off

    mailout /hiddenSendMail {
        publickey      "testdata/B06469EE_nopw.pub.asc"

        Xmaillog          testdata/
        errorlog         testdata/

        to              "recipient_to@domain.email"
        subject         "PGP Email from {{.Form.Get \"name\" }}"
        body            "testdata/mail_range.txt"

        # username
        # password
        host            127.0.0.1
        port            1025

        ratelimit_capacity 10
    }

}
